<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmedcom.tasbeh55">

    <application
        android:allowBackup="true"
        android:name="com.ahmedcom.tasbeh55.utils.App"
        android:icon="@mipmap/azcar_icon"
        android:label="@string/app_name"
        android:layoutDirection="rtl"
        android:roundIcon="@mipmap/azcar_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name="com.ahmedcom.tasbeh55.ui.others.NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <activity android:name="com.ahmedcom.tasbeh55.ui.activities.TimeSettingsActivity" />
        <activity
            android:name="com.ahmedcom.tasbeh55.ui.activities.RememberInfoActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" />
        <activity android:name="com.ahmedcom.tasbeh55.ui.activities.ListAzcarActivity"></activity>
        <activity
            android:name="com.ahmedcom.tasbeh55.ui.activities.DefaultActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.ahmedcom.tasbeh55.ui.others.NewAppWidget$AlarmReceiver"
            android:enabled="true"/>

    </application>

</manifest>